/* Custom color scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Green */
  --color-neutral-50: 255, 255, 255;
  --color-neutral-100: 232, 238, 237;
  --color-neutral-200: 188, 206, 203;
  --color-neutral-300: 143, 174, 170;
  --color-neutral-400: 101, 140, 134;
  --color-neutral-500: 84, 116, 111;
  --color-neutral-600: 67, 93, 89;
  --color-neutral-700: 50, 69, 66;
  --color-neutral-800: 33, 45, 43;
  --color-neutral-900: 16, 21, 21;
  /* Light Green */
  --color-primary-50: 245, 248, 247;
  --color-primary-100: 221, 234, 229;
  --color-primary-200: 188, 211, 204;
  --color-primary-300: 146, 182, 172;
  --color-primary-400: 107, 150, 140;
  --color-primary-500: 81, 123, 113;
  --color-primary-600: 63, 98, 91;
  --color-primary-700: 53, 80, 75;
  --color-primary-800: 46, 65, 62;
  --color-primary-900: 41, 56, 53;
  /* Rose */
  --color-secondary-50: 255, 241, 242;
  --color-secondary-100: 255, 228, 230;
  --color-secondary-200: 254, 205, 211;
  --color-secondary-300: 253, 164, 175;
  --color-secondary-400: 251, 113, 133;
  --color-secondary-500: 244, 63, 94;
  --color-secondary-600: 225, 29, 72;
  --color-secondary-700: 190, 18, 60;
  --color-secondary-800: 159, 18, 57;
  --color-secondary-900: 136, 19, 55;
}