{{ define "main" }}
   <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      {{ .Title }}
   </h1>

   <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      <div class="flex flex-row flex-wrap items-center"></div>
   </div>

   <section class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto text-gray-800">
         <div class="flex flex-col md:flex-row items-center gap-8">
            <img src="{{ "profile.png" | relURL }}" alt="Peyton Bischof" class="rounded-full" style="width: 300px; height: 300px;"/>
            <section class="mt-0 prose flex max-w-full flex-col dark:prose-invert lg:flex-row mb-10">
               <div class="min-w-0 min-h-0 max-w-prose w-full">
                  <p>
                     Hi, I'm Peyton! I'm a game developer and artist from Seattle, WA. I'm passionate about bringing new worlds to life and exploring our 
                     own through games :)
                  </p>
                  <p>
                     I currently work as a Gameplay Engineer at Midsummer Studios. I graduated from the University of Central Florida with a Game Design
                     and Computer Science major in 2024, and have contributed to games for AAA studios, venture-backed startups, and countless passion projects. 
                  </p>
               </div>
            </section>
         </div>

         <div class="mt-12 border-t border-gray-200 pt-6 text-center">
           <section class="mt-0 prose flex max-w-full flex-col text-center dark:prose-invert lg:flex-row mb-10">
               <div class="min-w-0 min-h-0 max-w-prose w-full mx-auto text-center">
                  <p>peytonbischof@outlook.com</p>
                  <button class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold py-2 px-4 border border-primary-500 hover:border-transparent rounded">
                     <p><a href="mailto:peytonbischof@outlook.com?">Contact</a></p>
                  </button>
               </div>
            </section>
         </div>
      </div>
   </section>
{{ end }}